{
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": ["plugin:react/recommended", "airbnb", "plugin:prettier/recommended"],
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"plugins": ["react", "@typescript-eslint", "eslint-plugin-import-helpers", "prettier"],
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [".ts", ".tsx"]
			}
		}
	},
	"rules": {
		"camelcase": "off",
		"import/extensions": ["warn", { ".ts": "never", ".tsx": "never" }],
		"import/prefer-default-export": "off",
		"import-helpers/order-imports": [
			"error",
			{
				"newlinesBetween": "always",
				"groups": ["module", ["parent", "sibling", "index"]],
				"alphabetize": { "order": "asc", "ignoreCase": true }
			}
		],
		"react/jsx-filename-extension": [1, { "extensions": [".ts", ".tsx"] }],
		"react/prop-types": "off",
		"react/jsx-indent": [
			"warn",
			"tab",
			{ "checkAttributes": true, "indentLogicalExpressions": true }
		]
	}
}
